* {
    font-family: 'roboto';
    
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
    background-color: #1f2937;
    display: flex;
    
    margin-bottom: 0;

}

.navbar #logoimg {
    color: white;
    font-size: 24px;
    margin-left: 250px;
    margin-right: 20px;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    
    
}

.navbarbtn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    float: right;
    margin-left: 400px;
    margin-top: 5px;
    
}

.navbarbtn li a {
    display: block;
    color: white;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    
}

.hero {
    margin-top: 0;
    background-color: #1f2937;
    height: 350px;

}

.hero #heroPic {
    float: right;
    margin-right: 200px;
    margin-left: 30px;
    margin-top: 100px;
    height: 200px;
    width: 400px;
}

.hero #heroTitle {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin-left: 200px;
    padding-top: 100px;
}

.hero #heroPar {
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 200px;
    padding-right: 10px;
}

.hero #signBtn {
    color:#e5e7eb;
    background-color: #3882f6;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 200px;
}

.cardList {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.cardList h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


.cardList ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;

}

#card img {
  border: 5px solid #3882f6;   /* tebal 2px, warna abu gelap */
  border-radius: 10px;      /* membulatkan sudut gambar */
  padding: 80px;             /* jarak antara gambar dan border */
  width: 100%;              /* menyesuaikan lebar li */
  height: auto;             /* menjaga rasio gambar */
}

#card p {
    color: gray;
    font-size: 18px;
    margin-left: 10px;
}

.quotesection {
    background-color: #e5e7eb;
    min-height: 400px;
}

.quotesection #quote {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

#quotePerson {
    font-size: 24px;
    text-align: right;
    margin-right: 400px;
}

.callsec {
    padding: 200px 200px 200px 200px;
    height: 50px;
}
#container {
    border: 5px     ;
    border: 5px solid #3882f6;
    background-color: #3882f6;
    
}